<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>SDS</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css'>
<link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.5/docs.css'>
    <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/material-datetimepicker.css">
      

  
</head>

<body>
  <md-toolbar md-scroll-shrink >
    <div class="md-toolbar-tools">
      <h3>
        <span>Attendance System</span>
      </h3>
    </div>
  </md-toolbar>

  <div ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak="" ng-app="MyApp">
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()" >
      <div layout-gt-md="row" layout="row" layout-align-gt-md="center center" layout-align="center center">
      <md-autocomplete flex="50" ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Select a course">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{ctrl.searchText}}" were found.
          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
        </md-not-found>
      </md-autocomplete>
      <br>
      <div flex="5"> </div>
        <md-input-container flex="45" flex-gt-md="30">
          <label>Date/Time Picker</label>
          <input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
                 placeholder="Date" show-todays-date
                 min-date="date"
                 ng-model="dateTime">
        </md-input-container>
        <div flex-gt-md="grow" ex-source-code target="input"></div>
      </div>

    </form>
  
  
      <!--<div layout-gt-md="row" layout="column" layout-align-gt-md="center center">
        <md-input-container flex-gt-md="30">
          <label>Datepicker Only</label>
          <input time="false" date="true" mdc-datetime-picker type="text" id="date"
                 placeholder="Date"
                 ng-model="date" min-date="minDate" max-date="maxDate">
        </md-input-container>
        <div flex-gt-md="grow" flex-md="initial" ex-source-code target="input"></div>
      </div>

      <div layout-gt-md="row" layout="column" layout-align-gt-md="center center">
        <md-input-container flex-gt-md="30">
          <label>Timepicker Only (12-hour)</label>
          <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                 placeholder="Time"
                 min-date="minDate"
                 format="hh:mm a"
                 ng-model="time">
        </md-input-container>
        <div flex-gt-md="grow" ex-source-code target="input"></div>
      </div>
      <div layout-gt-md="row" layout="column" layout-align-gt-md="center center">
        <md-input-container flex-gt-md="30">
          <label>Timepicker Only (24-hour)</label>
          <input mdc-datetime-picker date="false" time="true" type="text" id="time2"
                 placeholder="Time"
                 min-date="minDate"
                 format="HH:mm"
                 ng-model="time">
        </md-input-container>
        <div flex-gt-md="grow" ex-source-code target="input"></div>
      </div>-->

                  <!--<div layout-gt-md="row" layout="column" layout-align-gt-md="center center">
                    <md-input-container flex-gt-md="30">
                      <label>Date/Time Picker</label>
                      <input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
                            placeholder="Date" show-todays-date
                            min-date="date"
                            ng-model="dateTime">
                    </md-input-container>
                    <div flex-gt-md="grow" ex-source-code target="input"></div>
                  </div>-->

      <!--<div layout-gt-md="row" layout="column" layout-align-gt-md="center center">
        <div layout="column" flex-gt-md="30" class="range">
          <md-input-container>
            <label>Start Date/Time</label>
            <input mdc-datetime-picker date="true" time="true" type="text"
                   placeholder="Date"
                   max-date="dateTimeEnd"
                   ng-model="dateTimeStart"
            />
          </md-input-container>
          <md-input-container>
            <label>End Date/Time</label>
            <input mdc-datetime-picker date="true" time="true" type="text"
                   placeholder="Date"
                   min-date="dateTimeStart"
                   ng-model="dateTimeEnd"
            />
          </md-input-container>
        </div>

        <div flex-gt-md="grow" ex-source-code target="div.range" title="DateRange Example"></div>
      </div>-->

      <!--<div layout-gt-md="row" layout="column" layout-align-gt-md="center center">
        <md-input-container flex-gt-md="30">
          <label>Disable Certain Dates</label>
          <input time="false" date="true" mdc-datetime-picker type="text" id="date-2"
                 placeholder="Date"
                 ng-model="date" min-date="minDate" max-date="maxDate" disable-dates="dates">
        </md-input-container>
        <div flex-gt-md="grow" ex-source-code target="input"></div>
      </div>-->

      <!--<div layout-gt-md="row" layout="column" layout-align-gt-md="center center">

        <div flex-gt-md="30">
          <p>Test mdcDateTimeDialog Service</p>
          <md-button class="md-raised md-primary" ng-click="displayDialog()">
            Display Picker
          </md-button>
          <p ng-if="selectedDateTime">Date: {{selectedDateTime|date}}</p>
        </div>

        <div flex-gt-md="grow" ex-source-code target="button"></div>

      </div>-->

      <!--<md-card>
        <div layout="row" layout-wrap class="checkboxes">
          <md-checkbox ng-model="options.rowSelection">Row Selection</md-checkbox>
          <md-checkbox ng-model="options.multiSelect">Multiple Selection</md-checkbox>
          <md-checkbox ng-model="options.autoSelect">Auto Selection</md-checkbox>
          <md-checkbox ng-model="options.decapitate">Decapitate</md-checkbox>
          <md-checkbox ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>
          <md-checkbox ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>
          <md-checkbox ng-model="options.limitSelect" ng-click="toggleLimitOptions()">Pagination Limit Select</md-checkbox>
          <md-checkbox ng-model="options.pageSelect">Pagination Page Select</md-checkbox>
        </div>
      </md-card>-->
      <!--<md-card>-->
      <md-card ng-if="ctrl.searchText && dateTime">
        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>List</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="loadStuff()">
              <md-icon>refresh</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
          </div>
        </md-toolbar>
        
        <md-table-container>
          <table md-table  multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">          
          <!--<table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">-->
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                <th md-column md-order-by="name"><span>MIS NO.</span></th>
                <!--<th md-column md-order-by="type"><span>Type</span></th>-->
                <th md-column md-numeric md-order-by="calories.value" md-desc><span>Attendance</span></th>
                <!--<th md-column md-numeric md-order-by="fat.value"><span>Fat (g)</span></th>
                <th md-column md-numeric md-order-by="carbs.value"><span>Carbs (g)</span></th>
                <th md-column md-numeric md-order-by="protein.value"><span>Protein (g)</span></th>
                <th md-column md-numeric md-order-by="sodium.value" hide-gt-xs show-gt-md><span>Sodium (mg)</span></th>
                <th md-column md-numeric md-order-by="calcium.value" hide-gt-xs show-gt-lg><span>Calcium (%)</span></th>
                <th md-column md-numeric md-order-by="iron.value" hide-gt-xs show-gt-lg><span>Iron (%)</span></th>
                <th md-column md-order-by="comment">
                  <md-icon>comments</md-icon>
                  <span>Comments</span>
                </th>-->
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="item in names | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>{{item.mis}}</td>
                <!--<td md-cell>
                  <md-select ng-model="dessert.type" placeholder="Other">
                    <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                  </md-select>
                </td>-->
                <td md-cell>{{item.attendance}}</td>
                <!--<td md-cell>{{dessert.fat.value | number: 2}}</td>
                <td md-cell>{{dessert.carbs.value}}</td>
                <td md-cell>{{dessert.protein.value | number: 2}}</td>
                <td md-cell hide-gt-xs show-gt-md>{{dessert.sodium.value}}</td>
                <td md-cell hide-gt-xs show-gt-lg>{{dessert.calcium.value}}%</td>
                <td md-cell hide-gt-xs show-gt-lg>{{dessert.iron.value}}%</td>
                <td md-cell ng-click="editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">
                  {{dessert.comment || 'Add a comment'}}
                </td>-->
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{names.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
      </md-card>
    </md-content>



</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js'></script>
<script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular-aria.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment-with-locales.min.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment-with-locales.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script type="text/javascript" src="beautifier.js"></script>
<script type="text/javascript" src="./js/angular-material-datetimepicker.js"></script>
<script type="text/javascript" src="./js/demo.js"></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
